<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M - %msg%n" />
		</Console>

		<File name="File" fileName="${log4j:configParentLocation}/../log/run.log"
			append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36}.%M %L - %msg%n" />
		</File>

		<RollingFile name="RollingFile"
			fileName="${log4j:configParentLocation}/../log/summer.log"
			filePattern="${log4j:configParentLocation}/../log/summer.%d{yyyy-MM-dd}.%i.log"
			append="true">
			<PatternLayout
				pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %c{36}.%M - %msg%n" />
			<DefaultRolloverStrategy max="10" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10KB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>

		<logger name="com.realjt.summer" level="DEBUG" additivity="false">
			<appender-ref ref="File" />
			<appender-ref ref="RollingFile" />
		</logger>
	</Loggers>

</Configuration>